<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}
<div class="row">
    <div class="col-12">
        <section id="model" class="col-12 centered">
            <div id="webcam-wrapper">
              
            </div>
            <div id="graph-wrapper"></div>
        </section>
    </div>
</div>
<div class="row mt-5">
    <form class="w-75 mx-auto" name="frmModel" action="/addModel" method="post" novalidate>
        <fieldset  class="form-group col-12 centered">
            <legend>{{title}}</legend>
            {{ form.hidden_tag() }}
            <p class="form-group row">
                {{ form.model_name.label(class_='col-sm-2') }}
                {{ form.model_name(class_='form-control col-sm-10') }}
                {% for error in form.model_name.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>
            <p class="form-group row">
                {{ form.model_url.label(class_='col-sm-2') }}
                {{ form.model_url(class_='form-control col-sm-10') }}
                {% for error in form.model_url.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </p>
            <p class="input-group">
                <input type="button" id="loadModelButton" class="btn btn-primary mx-2" value="Load Model">
                <input type="button" id="clearButton" class="btn btn-primary mx-2" value="Clear">

                {{ form.submit(class_='form-control bg-primary text-white') }}
            </p>
    
        </fieldset >
    </form>

    <div class="centered">
        <h1 id="result"></h1>
    </div>
</div>
<br>

<hr>
<div class="row mb-5">
    <table class="table table-striped">
        <thead>
           <tr>
              <th>No</th>
              <th>Model Name</th>
              <th>Model URL</th>
              <th>Timestamp</th>
              <th></th>
           </tr>
        </thead>
    
        <tbody>
        {% for entry in entries %}
            <tr>
            <td>{{ entry.id}}</td>
            <td><a href="" data-name='{{ entry.model_name}}' data-url='{{ entry.model_url}}'>{{ entry.model_name }}</a></td>
            <td>{{ entry.model_url}}</td>
            <td>{{ entry.saved_on.strftime("%d %b %y %H:%M") }}</td>
            <td>
                <form name="frmRemoveEntry" action="/remove" method="post" novalidate>
                <input type="hidden" name="id" value="{{entry.id}}">
                <input type="submit" class="form-control btn-danger" value="Remove">
                </form>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<br>
<br>

{% endblock %}